/* * {
	outline:1px solid black;
} */

:root {
	--primary-color: #757575;
	--secondary-color: #2196f3;
	--link-color: #212121;
	--title-color: #212121;
	--hero-text-color: #ffffff;
	--background-color-dark: #2f303a;
	--bgc-btn-color: #f5f4fa;
	--bgc-color: #fff;
	--second-logo-color: #000000;
	--footer-contact-color: rgba(255, 255, 255, 0.6);
	--border-color: #ececec;
	--base-icon-color: #AFB1B8;
}

body {
	margin: 0;

	background-color: var (--bgc-color);
	color: var(--primary-color);
	font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.hide {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.contact {
	color: var(--primary-color);
}

/* Header */
.flex-container {
	display: flex;
	align-items: center;
}

.border-buttom {
	border-bottom: 1px solid var(--border-color);
}

.logo {
	display: block;
	margin-right: 93px;
	font-family: "Raleway", "Metrisch", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	color: var(--second-logo-color);
}

.logo-color {
	color: var(--secondary-color);
}

.header-nav {
	display: flex;
}

.header-nav .item:not(:last-child) {
	margin-right: 50px;
}

.nav-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: 0.02em;
	color: var(--link-color);
}

.current {
	position: relative;
	color: var(--secondary-color);

}
.current::after {
	position: absolute;
	bottom:-1px;
	left: 0;
	content:"";
	width: 100%;
	height: 4px;
	background-color: var(--secondary-color);
	border-radius: 2px;

}

.nav-contact {
	display: flex;
	margin-left: auto;
}

.header-contact {
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: 0.02em;
}

.nav-contact .item+.item {
	margin-left: 50px;
}
 .active {
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
.active:hover,
.active:focus {
	color: var(--secondary-color);
}

.header-contact {
	display: flex;
	align-items: center;
}

.contact-icon {
	fill: var(--primary-color);
	margin-right: 10px;
	width: 16px;
	height: 16px;
}

.active:hover>.contact-icon,
.active:focus>.contact-icon {
	fill: var(--secondary-color);

}

/* Hero */
.hero {
	color: var(--hero-text-color);
	background-color: var(--background-color-dark);
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_img.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1600px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.hero-title {
	margin: 0 auto;
	margin-bottom: 30px;
	max-width: 696px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.hero-btn {
	padding: 10px 32px;
	min-width: 216px;
	height: 50px;
	border: none;
	border-radius: 4px;

	color: var(--hero-text-color);
	background-color: var(--secondary-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 0.06em;

	transition-property: color, background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
	color: var(--secondary-color);
	background-color: var(--hero-text-color);
	cursor: pointer;
}

/* Benefit */
.benefit {
	line-height: 1.7;
}

.benefit-list {
	display: flex;
	align-content: center;
	justify-content: space-between;
	/* gap: 30px; */
}

.benefit-list .item {
	width: 270px;

}

.benefit-bgc {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 270px;
	height: 120px;
	margin-bottom: 30px;
	background-color: var(--bgc-btn-color);
	border-radius: 4px;
}

.benefit-bgc-icon {
	height: 70px;
	width: 70px;
}

.benefit-title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--title-color);
}

/* About */
/* title for section about and team */
.about {
	padding-top: 0px;
	text-align: center;
}

.about .list {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.title {
	margin-top: 0;
	margin-bottom: 50px;
	color: var(--title-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}
/* .image {
	position:relative;
} */
.about-item {
	position: relative;
	text-align: center;
}
.about-item::before {
	content:" ";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);red;
}
.about-desc {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
    height: 70px;
    position: absolute;
    z-index: 3;
    bottom: 0;

	color: var(--hero-text-color);
	font-weight: 700;
	text-transform: uppercase;
    
	
	
	
}

/* Team */
.team {
	margin: 0 auto;
	padding-top: 94px;
	padding-bottom: 94px;
	font-size: 16px;
	line-height: 1.19;
	background-color: var(--bgc-btn-color);
	/* background-color: tomato; */
	text-align: center;
}

.team .list {
	display: flex;
	justify-content: space-between;
}

.team-dsc {
	background-color: var(--hero-text-color);
	width: 270px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}


.list-title {
	margin-top: 30px;
	margin-bottom: 10px;
	color: var(--title-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
}

.social-list {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	gap: 10px;
	margin-bottom:30px;

}

.social-item {
	display: flex;
	height: 44px;
	width: 44px;

}

.social-link {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
	fill: var(--base-icon-color);
	height: 20px;
	width: 20px;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
	background-color: var(--secondary-color);

}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
	fill: var(--bgc-color);
}


/* Clients */
.clients-list {
	display: flex;
	gap: 30px;
}

.clients-item {
	display: flex;
	width: 170px;
	height: 92px;

}

.client-link {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	fill: var(--base-icon-color);
	border: 1px solid var(--base-icon-color);
	border-radius: 4px;
	fill: var(--base-icon-color);
	transition-property: border-color, fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	
}

.client-link:hover,
.client-link:focus {
	border-color: var(--secondary-color);
	fill: var(--secondary-color);
}


/* Footer */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px 0 60px 0;
	background-color: var(--background-color-dark);
}

.footer-wraper {
	display: flex;
	align-items: baseline;
}

.social-container {
	/* display: inline-block; */
	margin-left: 70px;
}

/* Footer logo and adress  */
.adress {
	font-style: normal;
}

.logo-footer {
	display: inline-block;
	margin-bottom: 20px;

	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	color: var(--hero-text-color);
}

.footer-list a {
	display: block;
}

.link-map {
	line-height: 1.71;
	color: var(--hero-text-color);
}

.footer-list .footer-contact {
	margin-top: 9px;
}

.footer-contact {
	line-height: 1.71;
	color: var(--footer-contact-color);
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	
}

/* Footer-socials */
.social-title {
	font-style: normal;
	font-weight: 700;
	line-height: 1.14;
	margin-bottom: 20px;
	color: var(--hero-text-color);
	text-transform: uppercase;
}

.footer-ico-bgc {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	

}

.footer-ico-bgc .social-icon {
	fill: var(--hero-text-color);
	
}

/* Portfolio */
.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	gap: 8px;
}

.filter-btn {
	padding: 6px 25px;
	border-color: transparent;
	border-radius: 4px;

	color: var(--link-color);
	font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	background-color: var(--bgc-btn-color);
	transition-property: color, background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
	background-color: var(--secondary-color);
	color: var(--bgc-btn-color);
	cursor: pointer;
	box-shadow:
		0px 3px 1px rgba(0, 0, 0, 0.1),
		0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
}
.project-item {
	display: flex;
	border: 1px solid #eeeeee;
	width: 370px;
}

.project-link {
	width: 100%;
	height: 100%;
	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	/* overflow: hidden; */
}
.project-wrap-details{
	position: relative;
	top:0;
	left: 0;
	overflow: hidden;
	

}
.project-details {
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	padding: 63px 24px;
	background-color: rgba(33, 150, 243, 0.9);
	color: var(--hero-text-color);
	font-size: 18px;
	line-height: 1.55;
	transform: translateY(100%);
	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-details,
.project-link:focus .project-details {
	transform: translateY(0);
}
/* .project-wrap-details:hover .project-details,
.project-wrap-details:focus .project-details {
	transform: translateY(0);
} */
/* .overlay {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: var(--secondary-color);
	transform: translatex(-100%);
  	transition: transform 250ms ease;
} */



.project-desc {
	padding: 20px 24px;
	border-bottom: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
}

.project-subtitle {
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--title-color);
}

.project-text {
	color: var(--primary-color);
	font-size: 16px;
	line-height: 1.87;
}

.project-link:hover,
.project-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
		0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
	

}

/* Modal windows */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	/* transition: opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 0s; */
	transition: opacity 1s, visibility 0s;
}
.modal {
	position:absolute;
	top: 50%;
	left: 50%;
	width: 528px;
	height: 581px;
	padding: 40px;
	background-color: var(--hero-text-color);
	border-radius: 4px;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 1s, visibility 0s 1s;
	
	
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.8);
	

}
.close-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	position: absolute;
	top:8px;
	right: 8px;
	width: 30px;
	height: 30px;
	background-color: var(--hero-text-color);
	cursor: pointer;

}
.close-btn:hover,
.close-btn:focus {
	background-color: var(--secondary-color);
}
.close-btn-img {
	width: 11px;
	height: 11px;
	fill: var(--second-logo-color);
	
}

.close-btn:hover .close-btn-img,
.close-btn:focus .close-btn-img {
	fill: var(--hero-text-color);
}
.no-scrol {
	overflow: hidden;
}
/* Modal form filds */
.modal-form {
	display: flex;
	flex-direction: column;
	justify-content: center ;
}
.contaner-form-filld {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.modal-titel {
	display: block;
	text-align: center;
	margin-bottom:12px;
	color: var(--title-color);
	font-size: 20px;
	font-weight: 700;
	line-height: 1.15;
	letter-spacing: 0.03em;
}
.form-fild {
	display: flex;
	flex-direction: column;
	margin-bottom:10px;

}



.fild-title {
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
}

.fild-input {
	border: 0;
	height: 40px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: none;
}
.fild-input:focus {
	border-color:var(--secondary-color);
}

.form-fild textarea {
	height: 120px;
	resize: none;
	padding: 16px 12px;
}
.policy-fild {
	margin-top:20px;
	margin-bottom:30px;
	text-align: center;

}

.policy-link {
	text-decoration:underline;
	color:var(--secondary-color);
}
.modal-form .btn {
	margin: 0 auto;
	min-width: 200px;
	min-height: 50px;
	text-align: center;
	color: var(--hero-text-color);
	background-color: var(--secondary-color);
	cursor: pointer;
	border:none;
	border-radius: 4px;

}